{{> header}}
<form action="/addNarg" method="post">
  	<div class="container-fluid">
		<div class="container">
	  		<div class="row">
				<article class="cols-md-12"><br>
		  			<h1> Ajouter une nouvelle Chicha </h1><br>
		  			<div class="form-group">
						<div class="form-row">
			  				<div class="form-group col-md-6">
								<label for="exampleFormControlSelect1">Marque :</label>
								<input type="text" class="form-control" name="marque">
			  				</div>
						  	<div class="form-group col-md-6">
							  	<label for="exampleFormControlSelect2">Modèle :</label>
							  	<input type="text" class="form-control" name="model">
							</div>
						</div>
						<label for="exampleFormControlSelect1">Description :</label>
						<textarea class="form-control" name="description"></textarea>
						<label for="exampleFormControlSelect1">Image :</label>
						<input class="form-control" type="file" name="image" required>
					</div>
					<input class="form-control btn btn-warning" type="submit" value="Ajouter">
					<div class="navbar-nav">
						<a class="btn btn-danger" href="/">Annuler</a>
					</div> 
				</article>
	  		</div>
		</div>
  	</div>
</form>
{{> footer}}