{{> header}}
	<form action="/addNarg" method="post">
		{{#messageError}}
			<div class="alert alert-danger" role="alert">
				{{messageError}}
			</div>
		{{/messageError}}

		{{#message}}
			<div class="alert alert-success" role="alert">
  				{{message}}
			</div>
		{{/message}}
		<h5>Narguilé</h5>
		<label>Quantité :
			<input class="form-control" type="number" name="nargQuant" value="{{nargQuant}}" required>
		</label>
		<label>Marque :
			<input class="form-control" type="text" name="marque" value="{{marque}}" required>
		</label>
		<label>Reference :
			<input class="form-control" type="text" name="reference" value="{{reference}}" required>
		</label>
		<label>Photo :
			<input class="form-control" type="file" name="nargPict" value="{{nargPict}}">
		</label>
	  
		<h5>Manche</h5>
		<label>Quantité : 
			<input class="form-control" type="number" name="mancheQuant" value="{{mancheQuant}}" required>
		</label>
		<label>Description : 
			<input class="form-control" type="text" name="mancheDesc" value="{{mancheDesc}}" required>
		</label>
		<label>Photo : 
			<input class="form-control" type="file" name="manchePict" value="{{manchePict}}">
		</label>
	 
		<h5>Tuyau</h5>
		<label>Quantité : 
			<input class="form-control" type="number" name="tuyauQuant" value="{{tuyauQuant}}" required>
		</label>
		<label>Description : 
			<input class="form-control" type="text" name="tuyauDesc" value="{{tuyauDesc}}" required>
		</label>
		<label>Photo : 
			<input class="form-control" type="file" name="tuyauPict" value="{{tuyauPict}}">
		</label>

		<h5>Tete</h5>
		<label>Quantité : 
			<input class="form-control" type="number" name="teteQuant" value="{{teteQuant}}" required>
		</label>
		<label>Description : 
			<input class="form-control" type="text" name="teteDesc" value="{{teteDesc}}" required>
		</label>
		<label>Photo : 
			<input class="form-control" type="file" name="tetePict" value="{{tetePict}}">
		</label>
  	
		<h5>Diffuseur</h5>
		<label>Quantité : 
			<input class="form-control" type="number" name="diffuseurQuant" value="{{diffuseurQuant}}" required>
		</label>
		<label>Description : 
			<input class="form-control" type="text" name="diffuseurDesc" value="{{diffuseurDesc}}" required>
		</label>
		<label>Photo : 
			<input class="form-control" type="file" name="diffuseurPict" value="{{diffuseurPict}}">
		</label>
		<input type="submit" value="save"> 
  	</form>




{{> footer}}