{{> header}}

<!-- <body style="background-color: rgb(46, 46, 46)"> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  	<div class="navbar-nav">
		<a class="btn btn-danger" href="/">ANNULER</a>
  	</div> 
</nav>
<form action="/addNarg" method="post">
  	<div class="container-fluid">
		<div class="container">
	  		<div class="row">
				<article class="cols-md-12"><br>
		  			<h1 style="color: lightgray;"> Ajouter une nouvelle Chicha </h1><br>
		  			<div class="form-group">
						<div class="form-row">
			  				<div class="form-group col-md-6">
								<label for="exampleFormControlSelect1" style="color: lightgray;">Marque :</label>
								<input type="text" class="form-control" name="marque" required>
			  				</div>
						  	<div class="form-group col-md-6">
							  	<label for="exampleFormControlSelect2" style="color: lightgray;">Modèle :</label>
							  	<input type="text" class="form-control" name="model" required>
							</div>
  						</div>
			<label for="exampleFormControlSelect1" style="color: lightgray;">Description :</label>
			<textarea class="form-control" name="description" required></textarea>
			
			<label for="exampleFormControlSelect1" style="color: lightgray;">Image :</label>
			<input class="form-control" type="file" name="img" required>
		  </div>
		  <input class="form-control btn btn-warning" type="submit" value="Ajouter">
		</article>
	  </div>
	</div>
  </div>
</form>

{{> footer}}