{{>header}}


<div class="accordion" id="accordionExample">
      {{#narg}}
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                CHICHA
              </button>
            </h2>
          </div>
        
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <form action="/updateNarg/{{id}}">
              <label>Quantité : <input class="form-control" type="number" name="quantity" value="{{quantity}}" required></label>
              <label>Marque : <input class="form-control" type="text" name="marque" value="{{marque}}" required></label>
              <label>Reference : <input class="form-control" type="text" name="reference" value="{{reference}}" required></label>
              <label>Photo : <input class="form-control" type="file" name="photo" value="{{photo}}" required></label>
              <input type="submit" name="save">
            </form><br>
            <form action="/updateManche/{{idManche}}">
              <h5>manche</h5>
              <label>Quantité : <input class="form-control" type="number" name="quantity" value="{{mancheQuant}}" required></label>
              <label>Description : <input class="form-control" type="text" name="description" value="{{mancheDesc}}" required></label>
              <label>Photo : <input class="form-control" type="file" name="picture" value="{{photo}}" required></label>
              <input type="submit" name="save">
            </form><br>
            <form action="/updateTuyau/{{idTuyau}}">
              <h5>tuyau</h5>
              <label>Quantité : <input class="form-control" type="number" name="quantity" value="{{tuyauQuant}}" required></label>
              <label>Description : <input class="form-control" type="text" name="description" value="{{tuyauDesc}}" required></label>
              <label>Photo : <input class="form-control" type="file" name="picture" value="{{photo}}" required></label>
              <input type="submit" name="save">
            </form><br>
            <form action="/updateTete/{{idTete}}">
              <h5>tete</h5>
              <label>Quantité : <input class="form-control" type="number" name="quantity" value="{{teteQuant}}" required></label>
              <label>Description : <input class="form-control" type="text" name="description" value="{{teteDesc}}" required></label>
              <label>Photo : <input class="form-control" type="file" name="picture" value="{{picture}}" required></label>
              <input type="submit" name="save">
            </form><br>
            <form action="updateDiffuseur/{{idDiffuseur}}">
              <h5>diffuseur</h5>
              <label>Quantité : <input class="form-control" type="number" name="quantity" value="{{diffuseurQuant}}" required></label>
              <label>Description : <input class="form-control" type="text" name="description" value="{{diffuseurDesc}}" required></label>
              <label>Photo : <input class="form-control" type="file" name="picture" value="{{picture}}" required></label>
              <input type="submit" name="save">
            </form>
          </div>
        </div>
      {{/narg}}
    </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                LOCATION
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
              <form action="/updateLoc/{{id}}">
                <label>Marque : <input class="form-control" type="text" name="marque" value="{{marque}}" required></label>
                <label>Manche : <input class="form-control" type="text" name="manche" value="{{manche}}" required></label>
                <label>Tuyau : <input class="form-control" type="text" name="tuyau" value="{{tuyau}}" required></label>
                <label>Tete : <input class="form-control" type="text" name="tete" value="{{tete}}" required></label>
                <label>Diffuseur : <input class="form-control" type="text" name="diffuseur" value="{{diffuseur}}" required></label>
                <label>Goût : <input class="form-control" type="text" name="gout" value="{{gout}}" required></label>
              </form>
              <form action="/updateM"></form>
            </form>  
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                USER
              </button>
            </h2>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
              <form action="">
                <label> Nom : <input type="text" name="nom" value="{{name}}" required></label>
                <label> Mot de Passe : <input type="text" name="password" value="{{password}}" required></label>
                <label> Adresse : <input type="text" name="adresse" value="{{adress}}" required></label>
                <label> Téléphone : <input type="number" name="telephone" value="{{tel}}" required></label>
                <label> Rôle : <input type="text" name="role" value="{{role}}" required></label>
                <label> Justification : <input type="date" name="justification" value="{{justify}}" required></label>
              </form>
            </div>
          </div>
        </div>
      </div>
{{>footer}}