{{> header}}

  <div class="jumbotron mt-5">
    <h1 class="display-1">Nouveautés du moment</h1>
    <div class="container-fluid">
      <div class="container">
        <div class="row">
          <article class="col-md-8">
            <h2 style="size: 100px;"> Chicha </h2>
            <p>
              <img src="https://image.noelshack.com/
              minis/2020/12/4/1584627309-skull-ovni-xs-premium.png"  alt="1584627309-skull-ovni-xs-premium.jpg - envoi d'image avec NoelShack"/>
            </p>
          </article>
          <div class="row">
            <article class="col-md-4">
              <h3 style="size: 100px;"> Tabac </h3>
              <p>
                <img src="https://image.noelshack.com/minis/2020/12/4/1584627312-adalya-tabac-lady-killer-200gr.png"  alt="1584627312-adalya-tabac-lady-killer-200gr.jpg - envoi d'image avec NoelShack"/>    
              </p>
            </article>
          </div>  
      </div>
    </div>
  </div>

{{> footer}}