{{>header}}
    

    <main>
        <div class="container-fluid bg-dark p-0">
            <div class="site-slider">
                <div class="slider-one">
                    <div>
                        <img src="/assets/322759783(2).jpg" class="img-fluid" alt="Banner 1">
                    </div>
                    <div>
                        <img src="/assets/hookah_banner1(2).jpg" class="img-fluid" alt="Banner 2">
                    </div>
                </div>
                <div class="slider-btn">
                    <span class="prev position-top"><i class="fas fa-chevron-left"></i></span>
                    <span class="next position-top right-0"><i class="fas fa-chevron-right"></i></span>
                </div>
            </div>
        </div>

        
        <div class="container-fluid bottomzer">
            <div class="row p-0">
                <div class="col-md-4 col-sm-12 col-12">
                
                </div>
                <div class="col-md-4 col-12 text-center">
                    <h2 class="my-md-3 site-title text-white">Nouveautées</h2>
                </div>
            </div>
        </div>
       
        
        <div class="container-fluid second-container">
            <div class="site-slider-two px-md-4">
                <div class="row slider-two text-center">
                    
                    <div class="col-md-2 product pt-md-5 pt-4">
                        <img src="/assets/Adalya-Tabak-Hawaii-200g588e527918351_600x600.png" alt="Product 1">
                        <span class="border site-btn btn-span">Tabac HAWAII</span>
                    </div>
                    <div class="col-md-2 product pt-md-5 pt-4">
                        <img src="/assets/Adalya-Tabak-Cola-Dragon-200g_600x600.png" alt="Product 2">
                        <span class="border site-btn btn-span">Tabac COLA DRAGON</span>
                    </div>
                    <div class="col-md-2 product pt-md-5 pt-4">
                        <img src="/assets/Adalya-Tabak-Cactus-200g_600x600.png" alt="Product 3">
                        <span class="border site-btn btn-span">Tabac CACTUS</span>
                    </div>
                    <div class="col-md-2 product pt-md-5 pt-4">
                        <img src="/assets/Adalya-Tabak-Love-66-200g_600x600_f5afd658-8bac-42e6-afd8-14aadedbebbd_300x300.jpg" alt="Product 4">
                        <span class="border site-btn btn-span">Tabac LOVE66</span>
                    </div>
                    <div class="col-md-2 product pt-md-5 pt-4">
                        <img src="/assets/shisha-tabak-tabac-chicha-adalya-double-melon-ice-200-g_600x600_371763ca-2801-4f36-acb5-bb724911e0bc_300x300.jpg" alt="Product 4">
                        <span class="border site-btn btn-span">Tabac DOUBLE MELON</span>
                    </div>                    
                    <div class="col-md-2 product pt-md-5 pt-4">
                        <img src="/assets/Adalya-Tabak-Freshberry-200g_600x600_400491dc-ed7a-48b7-9c4c-ecf6f106dab5_300x300.jpg" alt="Product 4">
                        <span class="border site-btn btn-span">Tabac FRESHBERRY</span>
                    </div>
                </div>
                <div class="slider-btn">
                    <span class="prev position-top"><i class="fas fa-chevron-left fa-2x text-secondary"></i></span>
                    <span class="next position-top right-0"><i class="fas fa-chevron-right fa-2x text-secondary"></i></span>
                </div>
            </div>
        </div>
    </main>

{{>scripter}}