{{> header}}
<div class="container p-3">
	
	<div class="card-columns">
		{{#messageError}}
			<div class="alert alert-danger" role="alert">
				{{messageError}}
			</div>
		{{/messageError}}
		<form id="formRental" action="/newRental/{{id}}" method="post">
			
			<div class="card p-3 text-center">
				<img src="{{manchePhoto}}" class="card-img-top" alt="Le manche fini de se nettoyer il arrive ! ;-)">
				<div class="card-body">
					<h5 class="card-title">Manche</h5>
					{{#user}}
						<select form="formRental" name="idManche" class="form-control" id="exampleFormControlSelect1">
					      	{{#manche}}
								<option value="{{id}}">{{description}}</option>
							{{/manche}}
						</select>
					{{/user}}
					{{^user}}
						<p class="card-text">{{mancheDesc}}</p>
					{{/user}}
				</div>
			</div>

			<div class="card p-3 text-center">
				<img src="{{tuyauPhoto}}" class="card-img-top" alt="Le tuyau fini de se rincer il arrive ! ;-)">
				<div class="card-body">
					<h5 class="card-title">Tuyau</h5>
					{{#user}}
						<select form="formRental" name="idTuyau" class="form-control" id="exampleFormControlSelect1">
							{{#tuyau}}
								<option value="{{id}}" >{{description}}</option>
							{{/tuyau}}
						</select>
					{{/user}}
					{{^user}}
						<p class="card-text">{{tuyauDesc}}</p>
					{{/user}}
				</div>
			</div>

			{{#user}}
				<div class="card p-3 text-center">
					<div class="card-body">
						<h5 class="card-title">Date de début de location</h5>
							<input type="date" name="date" value="{{date}}">
						
						<h5 class="card-title" id="cardTitle">Temps de location</h5>
							Nombre d'heure : <input type="time" name="timming" value="{{timming}}" >
					</div>
				</div>
			{{/user}}

			<div class="card p-3 text-center">
				<img src="{{tetePhoto}}" class="card-img-top" alt="La tête fini de faire chauffer les charbons ! ^^">
				<div class="card-body text-center">
					<h5 class="card-title">Tête</h5>
					{{#user}}
						<select form="formRental" name="idTete" class="form-control" id="exampleFormControlSelect1">
							{{#tete}}
								<option value="{{id}}" >{{description}}</option>
							{{/tete}}
						</select>
					{{/user}}
					{{^user}}
						<p class="card-text">{{teteDesc}}</p>
					{{/user}}
				</div>
			</div>

			<div class="card bg-primary text-white text-center p-3">
				<img src="{{nargPicture}}" class="card-img-top" alt="L'image s'est perdu ^^">
				<div class="card-body">
					<h4>{{marque}}</h4>
					<h5>{{reference}}</h5>
					{{#user}}
						<p>Quantité disponible : {{quantity}}</p>
					{{/user}}<br>
					<button class="btn" type="submit" id="btnCard">Valider</button>
				</div>
			</div>

			<div class="card p-3 text-center">
				<img src="{{diffuseurPhoto}}" class="card-img-top" alt="L'image fini ça chiche elle arrive vite !">
				<div class="card-body">
					<h5 class="card-title">Diffuseur</h5>
					{{#user}}
						<select form="formRental" name="idDiffuseur" class="form-control" id="exampleFormControlSelect1">
							{{#diffuseur}}
								<option value="{{id}}" >{{description}}</option>
							{{/diffuseur}}
						</select>
					{{/user}}
					{{^user}}
						<p class="card-text">{{diffuseurDesc}}</p>
					{{/user}}
				</div>
			</div>

			{{#user}}
			<div class="card p-3 text-center">
				<div class="card-body">
					<h5 class="card-title">Goût</h5>
						<select form="formRental" name="idGout" class="form-control" id="exampleFormControlSelect1">
							{{#gout}}
								<option value="{{id}}">{{description}}</option>
							{{/gout}}
						</select>
					<p class="card-text">
					</p>
				</div>
			</div>
			{{/user}}

		</form>

	</div>

</div>
{{> footer}}


