{{>header}}
<div class="accordion" id="accordionExample">
	<ul class="list-group list-group-flush">
	  	{{#nargs}}
		  	<li class="list-group-item">
			  	<a href="/dbNargSet/{{id}}">
			  		{{marque}} {{reference}}<br>
			        manche({{mancheDesc}})		
			        tuyau({{tuyauDesc}})<br>
			        tête({{teteDesc}})		
			        diffuseur({{diffuseurDesc}})		
			  	</a>
			</li>
		{{/nargs}}
		{{#users}}
	  		<li class="list-group-item">
	  			<a href="/dbUserSet/{{id}}">
			  		nom : {{name}}	
			  	</a>
	  		</li>
		{{/users}}
		{{#rental}}
		  	<li class="list-group-item">
		  		<a href="/dbUserSet/{{id}}">
			  		numéro : {{id}} <br>
			  		nom : {{name}}		
			  	</a>	
		  	</li>
		{{/rental}}
	</ul>
</div>
{{>footer}}
