{{> header}}


	<div class="card" style="width: 18rem;">
	  <!-- <img src="{{photo}}" class="card-img-top" alt="..."> -->
		<div class="card-body">
		    <h5 class="card-title">test</h5>
		    <h6 class="card-subtitle mb-2 text-muted"></h6>
		    <p class="card-text"></p>
	  	</div>
	  	<ul class="list-group list-group-flush">
		    <li class="list-group-item"></li>
		    <li class="list-group-item"></li>
		    <li class="list-group-item"></li>
		    <li class="list-group-item"></li>
	  	</ul>
	  	<div class="card-body">
	  {{#login}}
		    <a href="#" class="card-link">Réserver</a>
      {{/login}}
		    <a href="#" class="card-link">Consulter</a>
		</div>
	</div>


{{> footer}}
