{{>header}}


<form action="/signup" method="post">
    <div class="container-fluid">
      <div class="container">
        <div class="row">
          <article class="cols-md-12"><br>
            <h1 style="color: lightgray;"> Formulaire d'inscription </h1><br>
            <div class="form-g
            roup">
                <p style="color: lightgray;">Nom : <input class="form-control" type="text" name="name" required></p>
                <p style="color: lightgray;">Mot de passe : <input class="form-control" type="password" name="pwd" required></p>
                <p style="color: lightgray;">Confirmer mot de passe : <input class="form-control" type="password" name="checkPwd" required></p>
                <p style="color: lightgray;">Date de Naissance : <br> <input type="date" name="justify" required></p>
                <p style="color: lightgray;">Adresse : <br> <input type="text" name="address" required></p>
                <p style="color: lightgray;">Téléphone : <input class="form-control" type="tel" name="tel" required></p>
                <p style="color: lightgray;">J'atteste avoir plus de 18 ans et j'accepte les termes du contrat <br>que personne lis tmtc mais on est obligé de le mettre pour des <br>raisons de sécu voili voilou.
                    <input type="checkbox" required >
                </p>
            </div>
            <input class="btn btn-success" type="submit" value="Créer">
         
          </div>
        </div>
      </div>
    </div>