{{>header}}

<div class="container p-3" id="bloc">
    {{#rentals}}
    <div class="card text-center" style="width: 18rem;">
        <div class="card-body">
            <img src="{{idNarg.photo}}" class="card-img-top" id="nargPic">
            <h5 class="card-title">(reference)</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{{idTete.description}}</li>
            <li class="list-group-item">{{idTuyau.description}}</li>
            <li class="list-group-item">{{idManche.description}}</li>
            <li class="list-group-item">{{idDiffuseur.description}}</li>
            <li class="list-group-item">{{idGout.description}}</li>
        </ul>
        <div class="card-body">
            <a class="rounded-circle fa-2x mx-4" id="editBtn" data-toggle="modal" data-target="#{{idNarg.marque}}{{id}}">
                <i class="fas fa-cog"></i>
            </a>
            <a class="rounded-circle fa-2x mx-4" id="cancelBtn" type="button" href="#">
                <i class="fas fa-times-circle mx-10"></i></i>
            </a>
            <button class="btn" type="submit" id="btnCard">Valider</button>
        </div>

        <div class="modal fade" id="{{idNarg.marque}}{{id}}" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel4" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel4">Modification</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="formRental" action="/updateRental/{{id}}" method="post">
                            <div class="card p-3 text-center">
                                <div class="card-body">
                                    <h5 class="card-title">Manche</h5>
                                    <select form="formRental" name="idManche" class="form-control"
                                        id="exampleFormControlSelect1">
                                        {{#mancheList}}
                                        <option value="{{id}}">{{description}}</option>
                                        {{/mancheList}}
                                    </select>
                                </div>
                            </div>

                            <div class="card p-3 text-center">
                                <div class="card-body">
                                    <h5 class="card-title">Tuyau</h5>
                                    <select form="formRental" name="idTuyau" class="form-control"
                                        id="exampleFormControlSelect1">
                                        {{#tuyauList}}
                                        <option value="{{id}}">{{description}}</option>
                                        {{/tuyauList}}
                                    </select>
                                </div>
                            </div>

                            <div class="card p-3 text-center">
                                <div class="card-body text-center">
                                    <h5 class="card-title">Tête</h5>
                                    <select form="formRental" name="idTete" class="form-control"
                                        id="exampleFormControlSelect1">
                                        {{#teteList}}
                                        <option value="{{id}}">{{description}}</option>
                                        {{/teteList}}
                                    </select>
                                    <p class="card-text">{{teteDesc}}</p>
                                </div>
                            </div>

                            <div class="card p-3 text-center">
                                <div class="card-body">
                                    <h5 class="card-title">Diffuseur</h5>
                                    <select form="formRental" name="idDiffuseur" class="form-control"
                                        id="exampleFormControlSelect1">
                                        {{#diffuseurList}}
                                        <option value="{{id}}">{{description}}</option>
                                        {{/diffuseurList}}
                                    </select>
                                    <p class="card-text">{{diffuseurDesc}}</p>
                                </div>
                            </div>

                            <div class="card p-3 text-center">
                                <div class="card-body">
                                    <h5 class="card-title">Goût</h5>
                                    <select form="formRental" name="idGout" class="form-control"
                                        id="exampleFormControlSelect1">
                                        {{#goutList}}
                                        <option value="{{id}}">{{description}}</option>
                                        {{/goutList}}
                                    </select>
                                    <p class="card-text">
                                    </p>
                                </div>
                            </div>

                            <div class="card p-3 text-center">
                                <div class="card-body">
                                    <h5 class="card-title">Date de début de location</h5>
                                    <input type="date">

                                    <h5 class="card-title" id="cardTitle">Temps de location</h5>
                                    <input type="time" name="timing">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <a class="rounded-circle fa-2x mx-4" id="cancelBtn" type="button" data-dismiss="modal">
                            <i class="fas fa-times-circle"></i>
                        </a>
                        <a class="rounded-circle fa-2x mx-4" id="checkBtn" type="button">
                            <i class="fas fa-check-circle"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    {{/rentals}}
</div>

{{>footer}}