{{h}}


colapese


<form name="narg" id="{{id}}" method="POST" action="/updateNarg">
	<label> marque <input type="" name="" value="{{marque}}"></label>
	<label> ref <input type="" name=""></label>
	<label> quantite <input type="" name=""></label>
	<label> photo <input type="file" name=""></label>
	<input type="submit" name="save">
	<input type="button" name="delete" formaction="/deleteNarg/{{id}}" formmethod="POST">
	<input type="submit" name="save">
</form>

<form name="mache"></form>
<form name="tuyau"></form>
<form name="diff"></form>
<form name="tete"></form>


colapese


{{f}}